<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>
<body>

<header>
    <th:block th:include="~{fragments/navbar-hero-created}"/>
</header>
<main>
    <div class="text-center mb-3">
        <h4 class="text-white mt-2">Welcome to the arena, <span th:text="${#request.userPrincipal.getName()}"></span> </h4>
    </div>
    <hr class="my-3"/>
    <div class="container">
        
        <div class="text-center">
            <h2><span th:text="${#request.userPrincipal.getName()}"></span>, you have a hero. Buy items to make your hero stronger and later join the battle.</h2>
        </div>
    </div>
</main>
    <th:block th:include="~{fragments/footer}"/>
</body>
</html>
